---
title: Buttons
heading: Buttons
lead: Buttons are convenient tools when you need more traditional actions.
---
<div class="content">
	<h2 class="content-subhead">Basic</h2>
	<p>You can create a button using minimal markup</p>

	<div class="pure-g">
		<div class="pure-u-1-2">
			<h4 class="code-header">HTML</h4>
			<pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"button"</span>&gt;</span>Default Button<span class="tag">&lt;/<span class="title">a</span>&gt;</span></div></code></pre>
		</div>
		<div class="pure-u-1-2">
			<h4 class="code-header">Rendered HTML</h4>
			<a href="#" class="button">.button</a>
		</div>
	</div>

	<h2 class="content-subhead">Advanced</h2>
	<p>Additional classes can be added to your component to change its appearance.</p>

	<div class="pure-g">
		<div class="pure-u-1-2">
			<h4 class="code-header">HTML</h4>
			<pre><code class="language-html"><div class="code-container"><span class="comment">&lt;!-- Size Classes --&gt;</span>
<span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"button [tiny small large]"</span>&gt;</span>Default Button<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
<span class="comment">&lt;!-- Color Classes --&gt;</span>
<span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"button [secondary success alert]"</span>&gt;</span>Color Button<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
<span class="comment">&lt;!-- Radius Classes --&gt;</span>
<span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"button [radius round]"</span>&gt;</span>Radius Button<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
<span class="comment">&lt;!-- Disabled Class --&gt;</span>
<span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"button disabled"</span>&gt;</span>Disabled Button<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
<span class="comment">&lt;!-- Expand Class --&gt;</span>
<span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"button expand"</span>&gt;</span>Expanded Button<span class="tag">&lt;/<span class="title">a</span>&gt;</span></div></code></pre>
		</div>
		<div class="pure-u-1-2">
			<h4 class="code-header">Rendered HTML</h4>
			<div class="pure-g">
				<div class="pure-u-1-2">
					<a href="#" class="button tiny">Tiny Button</a>
				</div>
				<div class="pure-u-1-2">
					<a href="#" class="button alert">Alert Button</a>
				</div>
			</div>
			<div class="pure-g">
				<div class="pure-u-1-2">
					<a href="#" class="button radius">Radius Button</a>
				</div>
				<div class="pure-u-1-2">
					<a href="#" class="button disabled">Disabled Button</a>
				</div>
			</div>
		</div>
	</div>
</div>
